.tools/
tmp-git-test/
$installRoot/
.git/
.git-empty-backup-*/
git-data/
.ssh-temp/
ssh-wrapper.cmd
server-*.log
assets/*
!assets/screen.png
!assets/bulgaria/
!assets/bulgaria/*.png
assets/bulgaria/platos bulgaros/
gastronomia-bulgara-premium/
