@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../styles/fonts.css';

:root {
  color-scheme: light;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
